.copyright {
	background-color: #003f6d;
	font-size: 14px;
	line-height: 1.4;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #5E92B9;

	p {
		color: #5E92B9;
		font-size: 14px;
		line-height: 1.4;
		margin: 0 0 10px;
	}

	p.copyright__label {
		color: #82b3d7;
		font-size: 16px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
